<!doctype html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700,700i|Roboto+Slab:100,300,400,700" />
  <link rel="stylesheet" href="/css/shared.css" />
</head>
<body{% if page.classname %} class="{{ page.classname }}"{% endif %}>
  <header>
    <h2><a href="/home">Azusa High School</a></h2>
    <p>Home of the Mighty Aztecs</p>

    <p class="nav-link"><a href="#menu">Menu</a></p>
  </header>

  <main>
    {{ content }}
  </main>

  <nav id="menu">

    <ul>
      <li>
        <h2><a href="/academics">Academics</a></h2>
        <ul>
          <li><a href="/academics">World Language</a></li>
          <li><a href="/academics">English Language</a></li>
          <li><a href="/academics">Math Support</a></li>
          <li><a href="/academics">Advanced Placement</a></li>
          <li><a href="/academics">Honors Courses</a></li>
          <li><a href="/academics">Math Support</a></li>
          <li><a href="/academics">Pathway Programs</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/athletics">Athletics</a></h2>
      </li>
      <li>
        <h2><a href="/life">Student Life</a></h2>
        <ul>
          <li><a href="/life">Clubs</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/wellness">Support &amp; Wellness</a></h2>
        <ul>
          <li><a href="/wellness">After School</a></li>
          <li><a href="/wellness">Special Education</a></li>
          <li><a href="/wellness">Bilingual Education</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/partnerships">Partnerships</a></h2>
        <ul>
          <li><a href="/partnerships">Community</a></li>
          <li><a href="/partnerships">University</a></li>
          <li><a href="/partnerships">Corporate</a></li>
          <li><a href="/partnerships">Non-Profits</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/staff">Our Staff</a></h2>
        <ul>
          <li><a href="/partnerships">Administration</a></li>
          <li><a href="/partnerships">Teachers</a></li>
        </ul>
      </li>
      <li>
        <h2><a href="/about">About Our School</a></h2>
      </li>
    </ul>

    <form action="https://duckduckgo.com" method="get">
      <input type="hidden" name="sites" value="azusa.org">
      <p>
        <label>
          <span>Keywords</span>
          <input type="search" name="q" />
        </label>
        <button>Search</button>
      </p>
    </form>
  </nav>

  <footer>

    <div class="contact">
      <div>
        <h2>Azusa High School</h2>
        <p>240 North Cerritos Avenue<br />Azusa, CA 91702 </p>
        <p>626-815-3400</p>
      </div>
      <p><strong>Linda McNary, Principal</strong><br /><a href="mailto:lmcnary@azusa.org">lmcnary@azusa.org</a></p>
      <p><strong>Lorrie Brown, School Secretary</strong><br /><a href="mailto:lbrown@azusa.org">lbrown@azusa.org</a></p>
    </div>

    <div class="legal">
      <h2><a href="http://azusa.org"><img src="/images/azusa-district.png" width="100" height="100" alt="Azusa Unified School District" /></a></h2>
      <p>The District prohibits, at any district school or school activity, unlawful discrimination, harassment, intimidation, and bullying of any student based on the student’s actual race, color, ancestry, national origin, ethnic group, identication, age, religion, marital or parental status, physical or mental disability, sex, sexual orientation, gender, gender identity, or gender expression; the perception of one or more of such characteristics; or association with a person or group with one or more these actual or perceived characteristics.</p>
    </div>

    <div class="nav">
      <ul>
        <li><a href="">User Agreement</a></li>
        <li><a href="">Privacy Notice</a></li>
        <li><a href="">Security &amp; Data Policy</a></li>
      </ul>
      <!--
      <ul>
        <li><a href="">Staff Login</a></li>
        <li><a href="">Site Map</a></li>
      </ul>
      -->
    </div>
  </footer>
</body>
</html>
